{% extends 'base.html' %}
{% block content %}

<div class="help-container">
  <h5>Customer Support</h5>
  <p>If you need help, contact our support team anytime.</p>

  <ul>
    <li>📧 Email: support@example.com</li>
    <li>📞 Phone: +91 9876543210</li>
    <li>⏰ Available: 24/7</li>
  </ul>
</div>

<style>
.help-container {
  max-width: 850px;
  margin: 60px auto;
  padding: 30px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  margin-top: 100px;
}

 .help-container h5 {
  color:black;
  font-weight: 700;
}

.help-container p {
  color: #6c757d;
}

.help-container ul {
  list-style: none;
  padding: 0;
}

 .help-container ul li {
  
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  
}

 
</style>

{% endblock %}